<!-- Footer -->
<footer class="footer">
    <div class="copyright text-center">
        <small>© 2020 yard & garage | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> for people</small>
        <small><a href="https://github.com/cuneytcelebican/ShoppingApp" target="blank"><i class="fa fa-github" aria-hidden="true"></i> Cuneyt Celebican</a></small>
    </div>
</footer>